# Python
__pycache__/
*.py[cod]

# Django
*.sqlite3
*.log
local_settings.py

# Environment variables
.env

# Virtual environments
venv/
env/
.venv/

# Static files
staticfiles/

# Media files
media/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
